@import "https://unpkg.com/open-props";


.left , .right {
  
  fill: #EE4B2B;
  stroke: #A52A2A;
  stroke-width: .75;
  
}

.stems {
  stroke: #008000;
  stroke-width: .5;
  
}

.leaf {
  stroke-width: .75;
  stroke: #008000;
  fill: #4CBB17;
  
}

.body {
  fill: var(--pink-4);
  stroke: var(--orange-3) ;
  stroke-width: .75;
  
}

.inner {
  fill: var(--pink-0);
  stroke: var(--orange-2)	;
  stroke-width: .65;
  
}

.outside {
  
fill: var(--red-5);
stroke-width: .75;
stroke: var(--red-8);
  
}

.swirl {
  
  stroke-width: .5;
  stroke: var(--red-8);
}

.stick {
  stroke: var(--red-8);
  
}




#cherry , #donut , #lollipop {
  
  stroke-width: 1;
}











/* temp background color */
body {
  background: var(--pink-0);
}


/* vertical and horizontal centering */
body {
  display: grid;
  place-content: center;
  height: 100vh;
}

/* containers */
main {
  display: flex;
  scale: 2.5;
}

/* cptionally changef */
main section {
  height: 100px;
  width: 100px;
}

/* scale SVG to fit container */
svg {
  width: 100%; /* or any specific size */
  height: auto;
  
}


 